*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--preto-roxeado);
    color: var(--branco);
}

a{
    text-decoration: none;
}

:root{
    --vermelho-contraste: #FF004C;
    --roxo: #7A3BFF;
    --branco: #FFFFFF;
    --branco-roxeado: #D6D2E6;
    --preto: #0B0616;
    --preto-roxeado: #221C2D;
}

.layout_guide{
    width: 80%;
}