/************************************BANNER**************************************/

#banner{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#descricao{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 200px;
}

#descricao h1{
    font-family: var(--font-titulo);
    font-weight: 600;
    font-size: 2rem;
    color: var(--branco-roxeado);
}

#descricao p{
    font-family: var(--font-padrao);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--branco-roxeado);
}

.container_banner{
    display: flex;
    justify-content: space-between  ;
}

#banner img{
    width: 28%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/*******************************CATALOGO DE JOGOS*******************************/
#catalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.container_catalogo{
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
}

#cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 5px;
}

#cabecalho h1{
    font-family: var(--font-titulo);
    font-weight: 600;
    font-size: 2rem;
    color: var(--branco-roxeado);
}

#cabecalho hr{
    border: solid 1px var(--vermelho-contraste);
    width: 130%;
}